In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
print('pandas version: ',pd.__version__)
print('numpy version:',np.__version__)
print('sklearn version:',sk.__version__)

pandas version:  0.23.0
numpy version: 1.14.3
sklearn version: 0.19.1

In [2]:
colspecs = [(0, 11), (11, 21), (21, 31), (31, 38),(38,41),(41,72),(72,76),(76,80),(80,86)]
stations = pd.read_fwf('/home/fyjj/Station.txt', colspecs=colspecs, header=None, index_col=0,
                       names=['latitude','longitude','elevation','state','name','GSNFLAG','HCNFLAG','WMOID'])
stations.index.name='station'
stations=stations[['latitude', 'longitude', 'elevation', 'state', 'name']]
print(stations.shape)
stations.head()

(115082, 5)

             latitude  longitude  elevation state                   name
station
ACW00011604   17.1167   -61.7833       10.1   NaN  ST JOHNS COOLIDGE FLD
ACW00011647   17.1333   -61.7833       19.2   NaN               ST JOHNS
AE000041196   25.3330    55.5170       34.0   NaN    SHARJAH INTER. AIRP
AEM00041194   25.2550    55.3640       10.4   NaN             DUBAI INTL
AEM00041217   24.4330    54.6510       26.8   NaN         ABU DHABI INTL

In [3]:
stations = stations.filter(like='US', axis=0)
stations.head()

,latitude,longitude,elevation,state,name
station,,,,,
US009052008,43.7333,-96.6333,482.0,SD,SIOUX FALLS (ENVIRON. CANADA)
US10RMHS145,40.5268,-105.1113,1569.1,CO,RMHS 1.6 SSW
US10adam001,40.5680,-98.5069,598.0,NE,JUNIATA 1.5 S
US10adam002,40.5093,-98.5493,601.1,NE,JUNIATA 6.0 SSW
US10adam003,40.4663,-98.6537,615.1,NE,HOLSTEIN 0.1 NW

In [5]:
US_stations = stations.to_csv('/home/fyjj/US_station.csv')